<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <parameter name="browser" value="chrome"/>
    <parameter name="implicitWait" value="60"/>
    <parameter name="explicitWait" value="60"/>
    <parameter name="secretKey" value="donotspillthesecret!"/>


    <test name="functional">
        <classes>
<!--            <class name="tests.TestUploadDocument"/>-->
            <class name="tests.TestExtraction"/>
            <class name="tests.TestSearchRecords"/>

        </classes>
    </test>


</suite> <!-- Suite -->
